force-app/main/default/flows/Admission_Whatsapp_message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Whatsapp_notification</name>
        <label>Send Whatsapp notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendWhatsAppNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>AdmissionMessage</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_Patient.Phone__c</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>SendWhatsAppNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>phone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>+919449450405</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Admission_Update</name>
        <label>Admission Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdmissionMessage</name>
        <dataType>String</dataType>
        <expression>&quot;🏥 Admission Update&quot; &amp;

BR() &amp;
&quot;Admission Number: &quot; &amp; {!$Record.Name} &amp;

BR() &amp;
&quot;Patient: &quot; &amp; {!Get_Patient.Name} &amp;

BR() &amp;
&quot;Ward: &quot; &amp; {!$Record.Ward__r.Name}&amp;

BR() &amp;
&quot;Room: &quot; &amp; {!$Record.Room__r.Name} &amp;

BR() &amp;
&quot;Status: &quot; &amp; TEXT($Record.Status__c) &amp;

BR() &amp;
&quot;Admission Type: &quot; &amp; TEXT($Record.Admission_Type__c) &amp;

BR() &amp;
&quot;Doctor: &quot; &amp;  {!Get_Doctor.Name}&amp;

BR() &amp;
&quot;Admission Date: &quot; &amp;
TEXT(DATEVALUE($Record.Admission_Date_Time__c))</expression>
    </formulas>
    <interviewLabel>Admission Whatsapp message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admission Whatsapp message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Doctor</name>
        <label>Get Doctor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ward</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Doctor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doctor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Room</name>
        <label>Get Room</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ward</name>
        <label>Get Ward</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Room</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ward__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ward__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Admission_Update</targetReference>
        </connector>
        <object>Admission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
