force-app/main/default/flows/Appointment_WhatsApp_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Whatsapp_notification</name>
        <label>Send Whatsapp notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendWhatsAppNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>AppointmentMessage</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_Patient.Phone__c</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>SendWhatsAppNotification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>phone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>+919910154408</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Appointment_Status_Ch</name>
        <label>Appointment Status Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AppointmentMessage</name>
        <dataType>String</dataType>
        <expression>&quot;🏥 Hospital Appointment Update&quot; &amp;
BR() &amp; BR() &amp;
&quot;Appointment Number: &quot; &amp; {!$Record.Name} &amp;
BR() &amp;
&quot;Patient: &quot; &amp; {!Get_Patient.Name} &amp;
BR() &amp;
&quot;Doctor: &quot; &amp; {!Get_Doctor.Name} &amp;
BR() &amp;
&quot;Date: &quot; &amp; TEXT({!$Record.Appointment_Date__c}) &amp;
BR() &amp;
&quot;Time: &quot; &amp; TEXT({!$Record.Appointment_Time__c}) &amp;
BR() &amp;
&quot;Status: &quot; &amp; TEXT({!$Record.Status__c}) &amp;
BR() &amp; BR() &amp;
&quot;Thank you for choosing our hospital.&quot;</expression>
    </formulas>
    <interviewLabel>Appointment WhatsApp Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment WhatsApp Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Doctor</name>
        <label>Get Doctor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Doctor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doctor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment_Status_Ch</targetReference>
        </connector>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
