force-app/main/default/flows/Auto_calculate_total_prescription_amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Total</name>
        <label>Add To Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Getting_Prescription_Line_Items.Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_Prescription_Line_Items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Auto calculate total prescription amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto calculate total prescription amount</label>
    <loops>
        <name>Getting_Prescription_Line_Items</name>
        <label>Get Prescription Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Prescription_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_amount_in_Prescription</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Prescription_Line_Items</name>
        <label>Get Prescription Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Prescription_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prescription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prescription_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_amount_in_Prescription</name>
        <label>Update Total amount in Prescription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prescription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Medicine_Bill__c</field>
            <value>
                <elementReference>varTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Prescription__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prescription_Line_Items</targetReference>
        </connector>
        <object>Prescription_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
