force-app/main/default/flows/Discharge_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_bed</name>
        <label>Update bed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Active_Bed_Allocation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Active_Bed_Allocation.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Actual_Discharge_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Bed_Allocation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Discharge_Date_Added</name>
        <label>Discharge Date Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discharge_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actual_Discharge_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Actual_Discharge_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Bed_Allocation</targetReference>
            </connector>
            <label>Discharge Added</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Discharge Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discharge Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Bed_Allocation</name>
        <label>Get Active Bed Allocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_bed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bed_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bed_Allocation</name>
        <label>Update Bed Allocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Active_Bed_Allocation</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discharge_Date_Added</targetReference>
        </connector>
        <object>Admission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
