force-app/main/default/flows/HMS_New_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choice_ExistingPatient</name>
        <choiceText>Use Existing Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_NewPatient</name>
        <choiceText>+ Add New Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_PatientMode</name>
        <label>Patient Mode</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>screen_ExistingPatientAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Existing Patient</defaultConnectorLabel>
        <rules>
            <name>rule_NewPatient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_PatientMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NewPatientAppointment</targetReference>
            </connector>
            <label>Add New Patient</label>
        </rules>
    </decisions>
    <description>Creates appointments with existing patient or + Add New Patient branch.</description>
    <dynamicChoiceSets>
        <name>picklist_PatientBloodGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blood_Group__c</picklistField>
        <picklistObject>Patient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_PatientGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Patient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Appointment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>Appointment__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>HMS New Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>HMS New Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Appointment_ExistingPatient</name>
        <label>Create Appointment Existing Patient</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Appointment_Date_Time__c</field>
            <value>
                <elementReference>dt_AppointmentExisting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>lkp_DepartmentExisting.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>lkp_DoctorExisting.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>lkp_Patient.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>pick_PriorityExisting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>pick_SourceExisting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms__c</field>
            <value>
                <elementReference>ta_SymptomsExisting</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Appointment_NewPatient</name>
        <label>Create Appointment New Patient</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Appointment_Date_Time__c</field>
            <value>
                <elementReference>dt_AppointmentNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>lkp_DepartmentNew.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>lkp_DoctorNew.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>create_Patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>pick_PriorityNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>pick_SourceNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms__c</field>
            <value>
                <elementReference>ta_SymptomsNew</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Patient</name>
        <label>Create Patient</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>create_Appointment_NewPatient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Blood_Group__c</field>
            <value>
                <elementReference>pick_NewPatientBloodGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>txt_NewPatientEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>pick_NewPatientGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_NewPatientName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>txt_NewPatientPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>screen_Confirmation</name>
        <label>Appointment Created</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_ConfirmMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Appointment created successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Error</name>
        <label>Error</label>
        <locationX>660</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Could not create the appointment.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ExistingPatientAppointment</name>
        <label>Appointment for Existing Patient</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Appointment_ExistingPatient</targetReference>
        </connector>
        <fields>
            <name>lkp_Patient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Patient__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_DepartmentExisting</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Department__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_DoctorExisting</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Doctor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_AppointmentExisting</name>
            <dataType>DateTime</dataType>
            <fieldText>Appointment Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ta_SymptomsExisting</name>
            <fieldText>Symptoms</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_PriorityExisting</name>
            <choiceReferences>picklist_Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_SourceExisting</name>
            <choiceReferences>picklist_Source</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_NewPatientAppointment</name>
        <label>Add Patient and Appointment</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Patient</targetReference>
        </connector>
        <fields>
            <name>txt_NewPatientName</name>
            <dataType>String</dataType>
            <fieldText>Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_NewPatientPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_NewPatientEmail</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_NewPatientGender</name>
            <choiceReferences>picklist_PatientGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_NewPatientBloodGroup</name>
            <choiceReferences>picklist_PatientBloodGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Blood Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_DepartmentNew</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Department__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_DoctorNew</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Doctor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_AppointmentNew</name>
            <dataType>DateTime</dataType>
            <fieldText>Appointment Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ta_SymptomsNew</name>
            <fieldText>Symptoms</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_PriorityNew</name>
            <choiceReferences>picklist_Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_SourceNew</name>
            <choiceReferences>picklist_Source</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_PatientMode</name>
        <label>New Appointment</label>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_PatientMode</targetReference>
        </connector>
        <fields>
            <name>pick_PatientMode</name>
            <choiceReferences>choice_ExistingPatient</choiceReferences>
            <choiceReferences>choice_NewPatient</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_PatientMode</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
