force-app/main/default/flows/HMS_Bed_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choice_ExistingPatient</name>
        <choiceText>Use Existing Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ExistingRoom</name>
        <choiceText>Use Existing Room</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_NewPatient</name>
        <choiceText>+ Add New Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_NewRoom</name>
        <choiceText>+ Add New Room</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_ExistingPatientRoomMode</name>
        <label>Existing Patient Room Mode</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>screen_ExistingPatientExistingRoom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Room</defaultConnectorLabel>
        <rules>
            <name>rule_ExistingPatientNewRoom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_RoomModeExistingPatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ExistingPatientNewRoom</targetReference>
            </connector>
            <label>New Room</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NewPatientRoomMode</name>
        <label>New Patient Room Mode</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>screen_NewPatientExistingRoom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Room</defaultConnectorLabel>
        <rules>
            <name>rule_NewPatientNewRoom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_RoomModeNewPatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NewPatientNewRoom</targetReference>
            </connector>
            <label>New Room</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PatientMode</name>
        <label>Patient Mode</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>screen_ExistingPatientRoomMode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Patient</defaultConnectorLabel>
        <rules>
            <name>rule_NewPatient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_PatientMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NewPatientRoomMode</targetReference>
            </connector>
            <label>New Patient</label>
        </rules>
    </decisions>
    <description>Creates Bed Allocation with existing/add-new patient and existing/add-new room paths.</description>
    <dynamicChoiceSets>
        <name>picklist_PatientBloodGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blood_Group__c</picklistField>
        <picklistObject>Patient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_PatientGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Patient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_RoomStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Room__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_RoomType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Room_Type__c</picklistField>
        <picklistObject>Room__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_WardApproval</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ward_Manager_Approval__c</picklistField>
        <picklistObject>Bed_Allocation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>HMS Bed Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HMS Bed Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_BedAllocation_ExistingPatientExistingRoom</name>
        <label>Create Allocation Existing Patient Existing Room</label>
        <locationX>0</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bed_Number__c</field>
            <value>
                <elementReference>cmp_BedExistingPatientExistingRoom.selectedBedNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>dt_EndExistingPatientExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>lkp_PatientExistingRoom.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>lkp_RoomExistingPatient.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>dt_StartExistingPatientExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward_Manager_Approval__c</field>
            <value>
                <elementReference>pick_ApprovalExistingPatientExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_BedAllocation_ExistingPatientNewRoom</name>
        <label>Create Allocation Existing Patient New Room</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bed_Number__c</field>
            <value>
                <elementReference>cmp_BedExistingPatientNewRoom.selectedBedNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>dt_EndExistingPatientNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>lkp_PatientNewRoomExistingPatient.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>create_Room_ForExistingPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>dt_StartExistingPatientNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward_Manager_Approval__c</field>
            <value>
                <elementReference>pick_ApprovalExistingPatientNewRoom</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_BedAllocation_NewPatientExistingRoom</name>
        <label>Create Allocation New Patient Existing Room</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bed_Number__c</field>
            <value>
                <elementReference>cmp_BedNewPatientExistingRoom.selectedBedNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>dt_EndNewPatientExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>create_Patient_ForExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>lkp_RoomNewPatientExistingRoom.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>dt_StartNewPatientExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward_Manager_Approval__c</field>
            <value>
                <elementReference>pick_ApprovalNewPatientExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_BedAllocation_NewPatientNewRoom</name>
        <label>Create Allocation New Patient New Room</label>
        <locationX>704</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bed_Number__c</field>
            <value>
                <elementReference>cmp_BedNewPatientNewRoom.selectedBedNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>dt_EndNewPatientNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>create_Patient_ForNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>create_Room_ForNewPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>dt_StartNewPatientNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward_Manager_Approval__c</field>
            <value>
                <elementReference>pick_ApprovalNewPatientNewRoom</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Patient_ForExistingRoom</name>
        <label>Create Patient for Existing Room</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>create_BedAllocation_NewPatientExistingRoom</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Blood_Group__c</field>
            <value>
                <elementReference>pick_PatientBloodExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>txt_PatientEmailExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>pick_PatientGenderExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_PatientNameExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>txt_PatientPhoneExistingRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Patient_ForNewRoom</name>
        <label>Create Patient for New Room</label>
        <locationX>704</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>create_Room_ForNewPatient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Blood_Group__c</field>
            <value>
                <elementReference>pick_PatientBloodNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>txt_PatientEmailNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>pick_PatientGenderNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_PatientNameNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>txt_PatientPhoneNewRoom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Room_ForExistingPatient</name>
        <label>Create Room for Existing Patient</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>create_BedAllocation_ExistingPatientNewRoom</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>num_RoomCapacityExistingPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_RoomNameExistingPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Type__c</field>
            <value>
                <elementReference>pick_RoomTypeExistingPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>pick_RoomStatusExistingPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward__c</field>
            <value>
                <elementReference>lkp_WardExistingPatient.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Room_ForNewPatient</name>
        <label>Create Room for New Patient</label>
        <locationX>704</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>create_BedAllocation_NewPatientNewRoom</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>num_RoomCapacityNewPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_RoomNameNewPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Type__c</field>
            <value>
                <elementReference>pick_RoomTypeNewPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>pick_RoomStatusNewPatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward__c</field>
            <value>
                <elementReference>lkp_WardNewPatient.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>screen_Confirmation</name>
        <label>Bed Allocated</label>
        <locationX>176</locationX>
        <locationY>912</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_ConfirmMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Bed allocation completed successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Error</name>
        <label>Error</label>
        <locationX>968</locationX>
        <locationY>528</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Bed allocation failed.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ExistingPatientExistingRoom</name>
        <label>Existing Patient Existing Room</label>
        <locationX>0</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_BedAllocation_ExistingPatientExistingRoom</targetReference>
        </connector>
        <fields>
            <name>lkp_PatientExistingRoom</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Patient__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Bed_Allocation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_RoomExistingPatient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Room</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Bed_Allocation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cmp_BedExistingPatientExistingRoom</name>
            <extensionName>c:availableBedPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>roomId</name>
                <value>
                    <elementReference>lkp_RoomExistingPatient.recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_StartExistingPatientExistingRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_EndExistingPatientExistingRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Discharge Date and Time Optional</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_ApprovalExistingPatientExistingRoom</name>
            <choiceReferences>picklist_WardApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ward Manager Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ExistingPatientNewRoom</name>
        <label>Existing Patient New Room</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Room_ForExistingPatient</targetReference>
        </connector>
        <fields>
            <name>lkp_PatientNewRoomExistingPatient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Patient__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Bed_Allocation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_RoomNameExistingPatient</name>
            <dataType>String</dataType>
            <fieldText>Room Number / Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_WardExistingPatient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Ward__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ward</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_RoomTypeExistingPatient</name>
            <choiceReferences>picklist_RoomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>num_RoomCapacityExistingPatient</name>
            <dataType>Number</dataType>
            <fieldText>Beds Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_RoomStatusExistingPatient</name>
            <choiceReferences>picklist_RoomStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cmp_BedExistingPatientNewRoom</name>
            <extensionName>c:availableBedPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>capacity</name>
                <value>
                    <elementReference>num_RoomCapacityExistingPatient</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_StartExistingPatientNewRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_EndExistingPatientNewRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Discharge Date and Time Optional</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_ApprovalExistingPatientNewRoom</name>
            <choiceReferences>picklist_WardApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ward Manager Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ExistingPatientRoomMode</name>
        <label>Existing Patient</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_ExistingPatientRoomMode</targetReference>
        </connector>
        <fields>
            <name>pick_RoomModeExistingPatient</name>
            <choiceReferences>choice_ExistingRoom</choiceReferences>
            <choiceReferences>choice_NewRoom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_NewPatientExistingRoom</name>
        <label>New Patient Existing Room</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Patient_ForExistingRoom</targetReference>
        </connector>
        <fields>
            <name>txt_PatientNameExistingRoom</name>
            <dataType>String</dataType>
            <fieldText>Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_PatientPhoneExistingRoom</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_PatientEmailExistingRoom</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_PatientGenderExistingRoom</name>
            <choiceReferences>picklist_PatientGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_PatientBloodExistingRoom</name>
            <choiceReferences>picklist_PatientBloodGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Blood Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_RoomNewPatientExistingRoom</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Room</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Bed_Allocation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cmp_BedNewPatientExistingRoom</name>
            <extensionName>c:availableBedPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>roomId</name>
                <value>
                    <elementReference>lkp_RoomNewPatientExistingRoom.recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_StartNewPatientExistingRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_EndNewPatientExistingRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Discharge Date and Time Optional</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_ApprovalNewPatientExistingRoom</name>
            <choiceReferences>picklist_WardApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ward Manager Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_NewPatientNewRoom</name>
        <label>New Patient New Room</label>
        <locationX>704</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Patient_ForNewRoom</targetReference>
        </connector>
        <fields>
            <name>txt_PatientNameNewRoom</name>
            <dataType>String</dataType>
            <fieldText>Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_PatientPhoneNewRoom</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_PatientEmailNewRoom</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_PatientGenderNewRoom</name>
            <choiceReferences>picklist_PatientGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_PatientBloodNewRoom</name>
            <choiceReferences>picklist_PatientBloodGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Blood Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_RoomNameNewPatient</name>
            <dataType>String</dataType>
            <fieldText>Room Number / Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lkp_WardNewPatient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Ward__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ward</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_RoomTypeNewPatient</name>
            <choiceReferences>picklist_RoomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>num_RoomCapacityNewPatient</name>
            <dataType>Number</dataType>
            <fieldText>Beds Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_RoomStatusNewPatient</name>
            <choiceReferences>picklist_RoomStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cmp_BedNewPatientNewRoom</name>
            <extensionName>c:availableBedPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>capacity</name>
                <value>
                    <elementReference>num_RoomCapacityNewPatient</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_StartNewPatientNewRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_EndNewPatientNewRoom</name>
            <dataType>DateTime</dataType>
            <fieldText>Discharge Date and Time Optional</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pick_ApprovalNewPatientNewRoom</name>
            <choiceReferences>picklist_WardApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ward Manager Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_NewPatientRoomMode</name>
        <label>New Patient</label>
        <locationX>440</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_NewPatientRoomMode</targetReference>
        </connector>
        <fields>
            <name>pick_RoomModeNewPatient</name>
            <choiceReferences>choice_ExistingRoom</choiceReferences>
            <choiceReferences>choice_NewRoom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_PatientMode</name>
        <label>Bed Allocation</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_PatientMode</targetReference>
        </connector>
        <fields>
            <name>pick_PatientMode</name>
            <choiceReferences>choice_ExistingPatient</choiceReferences>
            <choiceReferences>choice_NewPatient</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_PatientMode</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
