force-app/main/default/flows/Lab_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Lab_Billing_Charge</name>
        <label>Create Lab Billing Charge</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <actionName>LabBillingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabBillingAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Status_Completed</name>
        <label>Status Completed?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>Not Completed — Skip</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lab_Billing_Charge</targetReference>
            </connector>
            <label>Completed — Bill Lab Test</label>
        </rules>
    </decisions>
    <description>After Save flow on Lab_Result__c (Create and Update). When Status__c is Completed, creates the lab test billing line item via LabBillingAction.</description>
    <interviewLabel>Lab Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lab Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status_Completed</targetReference>
        </connector>
        <object>Lab_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
