force-app/main/default/flows/Room_Code_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_Ward_Type</name>
        <label>Determine Ward Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Unsupported Ward Type - Leave Blank</defaultConnectorLabel>
        <rules>
            <name>Ward_Name_Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWard.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Private_Room_Number</targetReference>
            </connector>
            <label>Private</label>
        </rules>
        <rules>
            <name>Ward_Name_Limited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWard.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Limited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Limited_Room_Number</targetReference>
            </connector>
            <label>Limited</label>
        </rules>
        <rules>
            <name>Ward_Type_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWard.Ward_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_General_Room_Number</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Ward_Type_ICU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWard.Ward_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ICU_Room_Number</targetReference>
            </connector>
            <label>ICU</label>
        </rules>
        <rules>
            <name>Ward_Type_Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWard.Ward_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Emergency_Room_Number</targetReference>
            </connector>
            <label>Emergency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ward_Record_Found</name>
        <label>Ward Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Ward Not Found - Leave Blank</defaultConnectorLabel>
        <rules>
            <name>Ward_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWard</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Ward_Type</targetReference>
            </connector>
            <label>Ward Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ward_Selected</name>
        <label>Ward Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Ward - Leave Blank</defaultConnectorLabel>
        <rules>
            <name>Ward_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ward__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ward_Record</targetReference>
            </connector>
            <label>Ward Present</label>
        </rules>
    </decisions>
    <description>After Save flow on Room__c. On create, looks up the selected Ward__c and generates Room_Code__c and Name using the ward prefix plus Room_Sequence__c.</description>
    <formulas>
        <name>formulaEmergencyRoomCode</name>
        <dataType>String</dataType>
        <expression>&quot;EMR&quot; &amp; {!$Record.Room_Sequence__c}</expression>
    </formulas>
    <formulas>
        <name>formulaGeneralRoomCode</name>
        <dataType>String</dataType>
        <expression>&quot;GEN-&quot; &amp; {!$Record.Room_Sequence__c}</expression>
    </formulas>
    <formulas>
        <name>formulaICURoomCode</name>
        <dataType>String</dataType>
        <expression>&quot;ICU-&quot; &amp; {!$Record.Room_Sequence__c}</expression>
    </formulas>
    <formulas>
        <name>formulaLimitedRoomCode</name>
        <dataType>String</dataType>
        <expression>&quot;LIM&quot; &amp; {!$Record.Room_Sequence__c}</expression>
    </formulas>
    <formulas>
        <name>formulaPrivateRoomCode</name>
        <dataType>String</dataType>
        <expression>&quot;PRI&quot; &amp; {!$Record.Room_Sequence__c}</expression>
    </formulas>
    <interviewLabel>Room Code Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Room Code Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ward_Record</name>
        <label>Get Ward Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ward_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ward__c</elementReference>
            </value>
        </filters>
        <object>Ward__c</object>
        <outputReference>varWard</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Ward_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Emergency_Room_Number</name>
        <label>Set Emergency Room Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaEmergencyRoomCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Code__c</field>
            <value>
                <elementReference>formulaEmergencyRoomCode</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_General_Room_Number</name>
        <label>Set General Room Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaGeneralRoomCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Code__c</field>
            <value>
                <elementReference>formulaGeneralRoomCode</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ICU_Room_Number</name>
        <label>Set ICU Room Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaICURoomCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Code__c</field>
            <value>
                <elementReference>formulaICURoomCode</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Limited_Room_Number</name>
        <label>Set Limited Room Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaLimitedRoomCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Code__c</field>
            <value>
                <elementReference>formulaLimitedRoomCode</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Private_Room_Number</name>
        <label>Set Private Room Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaPrivateRoomCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Code__c</field>
            <value>
                <elementReference>formulaPrivateRoomCode</elementReference>
            </value>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ward_Selected</targetReference>
        </connector>
        <object>Room__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varWard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ward__c</objectType>
    </variables>
</Flow>
